<html ng-app="userApp">
	<head >					
			<script src="../angular.min-1.6.4.js"></script>
			<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller = "userController">
				<p> Enter Name: <input type="text" ng-model="userName"/>			</p>
				<p> Select Date: <input type="date" ng-model="currentDate"></input> </p>
				<p> Select gender: 
				<p> <input type="radio" ng-model="gender" value="male">male</input> 	</p>
				<p> <input type="radio" ng-model="gender" value="female">female</input> 	</p>			
				</p>				
				<p>Your Name: {{userName}}</p>
				<p>Current date : {{currentDate}}</p>
				<p>Gender : {{gender}}</p>
		</div>							
	</body>
</html>